<section>

  <!-- Header -->
  <h3>About Myself</h3>

  <!-- Set of icons -->
  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-dev">{% include icons/icon-dev.html %}</div>
    <div class="icon-algo">{% include icons/icon-algo.html %}</div>
    <div class="icon-ai">{% include icons/icon-ai.html %}</div>

  </div>

  <!-- Set of icons -->
  <div class="blurb">
    <p><strong>Lorem Ipsum</strong> è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.</p>
  </div>

  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label"><b>Communication</b></div>
        <div class="skill-icons skill-5">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Organisation</b></div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Machine Learning</b></div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Full Stack</b></div>
        <div class="skill-icons skill-3">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>JavaScript</b></div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Learning</b></div>
        <div class="skill-icons skill-9">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Planning</b></div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Team Player</b></div>
        <div class="skill-icons skill-10">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

  </div>

</section>
