<section>

  <!-- Header -->
  <h3 id="about-me">About Myself</h3>

  <!-- Set of icons -->
  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-dev">{% include icons/icon-dev.html %}</div>
    <div class="icon-algo">{% include icons/icon-algo.html %}</div>
    <div class="icon-ai">{% include icons/icon-ai.html %}</div>

  </div>
  <!-- Set of icons -->
  <div class="blurb">
    <p>Hey there, <strong>my name is Ilyass</strong> and I am a final year Computer Science student at the <a href="https://www.leeds.ac.uk/" target="_blank">University Of Leeds</a>. My interests range from cool and useless <strong>Rasbperry PI, Full Stack and AI</strong> projects to more serious and pondered ones: <strong>My Final Year</strong>. Jokes apart, I am a <strong>driven</strong>, <strong>curios</strong>, <strong>well motivated</strong> and <strong>hard working</strong> person, who is craving to be part of a great innovation in his lifetime. In the meanwhile, hit me up for some <strong>freelancing/job/internship</strong> oppurtunities or just an orange juice, if you are in the surroundings (don't really fancy coffe, lol).</p>
  </div>

  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label"><b>Communication</b></div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Problem Solving</b></div>
        <div class="skill-icons skill-6">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Artificial Intelligence</b></div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Full Stack</b></div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Learning</b></div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Creativity</b></div>
        <div class="skill-icons skill-6">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Algorithms</b></div>
        <div class="skill-icons skill-6">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label"><b>Design</b></div>
        <div class="skill-icons skill-5">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

  </div>

</section>
