<section class="section-contact">

  <h3 id="contact">Contact</h3>

  <div class="social-links">
    <a href="https://github.com/itaouil95/" target="_blank">{% include icons/icon-github.html %}</a>
    <a href="https://www.linkedin.com/in/ilyass-taouil-8b2b15a7/" target="_blank">{% include icons/icon-linkedin.html %}</a>
    <a href="https://twitter.com/itaouil95" target="_blank">{% include icons/icon-twitter.html %}</a>
  </div>

  <hr class="bar">

  <a href="mailto:itaouil95@gmail.com" class="biglink">itaouil95@gmail.com</a>

</section>
