<section class="section-exp">

  <h3 id="experiences">Experiences</h3>

  <!-- Carousel controllers -->
  <div class="exp-controls">
    <div class="exp-control-next">{% include icons/icon-next.html %}</div>
    <div class="exp-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <!-- Experience Section (carousel) -->
  <div class="exp-belt">

    <!-- Experience Unit -->
    <div class="exp-unit">

      <!-- Logo of the experience -->
      <div class="exp-logo">
        <img src="assets/img/experiences/caterva-logo.jpg" alt="Experience Logo">
        <strong class="exp-name">Caterva</strong>
        <em class="exp-title">Software Engineer</em>
      </div>

      <!-- Description of the experience -->
      <div class="exp-content">
        <div class="exp-quote-mark">
          {% include icons/icon-quote-mark.html %}
        </div>
        <p>
          <strong>Lorem Ipsum è un testo</strong> segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato.
        </p>
      </div>

    </div>

  </div>

</section>
